<div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 mt-md-5 mt-sm-5">
        <div>
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mt-md-5 mt-sm-5">
        <div>
          <h3>AROUND THE WEB</h3>
          <div class="d-flex align-items-center justify-content-center">
            <div class="social-links">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="social-links"><i class="fa-brands fa-twitter"></i></div>
            <div class="social-links">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="social-links"><i class="fa-solid fa-globe"></i></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mt-md-5 mt-sm-5">
        <div>
          <h3>AROUND THE WEB</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-paragraph py-4 text-center">
  <p>Copyright © Your Website 2021</p>
</div>
